<h4>{{ 'label.main_article_image'|trans }}</h4>

{% set mainImage = article.files|first %}
{% if mainImage and mainImage.path|length %}

    <img height="400" class="nav-profile-img" src="{{ asset(images_directory~mainImage.path) }}"
         alt="Main article image.">

    {% if editable is defined and editable %}

        <div>{{ 'label.edit_image'|trans }}</div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isAdmin() %}
            <a href="{{ url('file_edit_for_article', {id: mainImage.id, article_id: article.id}) }}"
               class="btn btn-link">
                {{ 'action.file_edit_for_article'|trans }}
            </a>
        {% endif %}

    {% endif %}

{% else %}

    <div>{{ 'label.no_main_article_image'|trans }}</div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isAdmin() %}
        {% if editable is defined and editable %}
            <a href="{{ url('file_create_for_article', {id: article.id}) }}" class="btn btn-link">
                {{ 'action.file_create_for_article'|trans }}
            </a>
        {% endif %}
    {% endif %}

{% endif %}