{% extends 'base.html.twig' %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block body %}
    <a href="{{ url('category_index') }}" title="{{ 'action.back'|trans }}">
        {{ 'action.back'|trans }}
    </a>

    <h1>{{ category.name }}</h1>

    <h3>{{ 'articles_of_category'|trans }}</h3>

    {% for article in category.articles %}
        <div>
            <h5>{{ article.title }}</h5>
            <div>
                <a href="{{ url('article_show', {id: article.id}) }}" title="{{ 'action.show'|trans }}">
                    {{ 'action.show'|trans }}
                </a>
                <a href="{{ url('article_edit', {id: article.id}) }}" title="{{ 'action.edit'|trans }}">
                    {{ 'action.edit'|trans }}
                </a>
                <a href="{{ url('article_delete', {id: article.id}) }}" title="{{ 'action.delete'|trans }}">
                    {{ 'action.delete'|trans }}
                </a>
            </div>
        </div>
    {% endfor %}

    {#@todo - display all articles of category#}

{% endblock %}
