{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.articles'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.articles'|trans }}</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isAdmin() %}
        <div class="mb-3">
            <a href="{{ url('article_create') }}" title="{{ 'action.create'|trans }}">
                {{ 'action.create'|trans }}
            </a>
        </div>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.image'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                <th>{{ 'label.category_name'|trans }}</th>
                <th>{{ 'label.created_at'|trans }}</th>
                <th>{{ 'label.tags'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for article in pagination.items %}
                <tr>
                    <td>
                        <a href="{{ url('article_show', {id: article.id}) }}" title="{{ 'action.show'|trans }}">
                            {% set mainImage = article.files|first %}
                            {% if mainImage and mainImage.path|length %}

                                <img height="90" class="nav-profile-img"
                                     src="{{ asset(images_directory~mainImage.path) }}"
                                     alt="Main article image.">
                            {% else %}
                                <div style="width: 90px; height: 90px; background-color: #a8a8a8;"></div>
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        {% if not article.isPublished() %}
                            <strong class="text-warning">
                                {{ 'label.draft'|trans }}:
                            </strong>
                        {% endif %}
                        {{ article.title }}
                    </td>
                    <td>
                        <a href="{{ url('article_index', {'filters_category_id' : article.category.id}) }}"
                           title="{{ article.category.name }}">
                            {{ article.category.name }}
                        </a>
                    </td>
                    <td>{{ article.createdAt|date('d.m.Y') }}</td>
                    <td>
                        {% if article.tags is defined and article.tags|length %}
                            {% for tag in article.tags %}
                                <a href="{{ url('article_index', {'filters_tag_id' : tag.id}) }}"
                                   title="{{ tag.name }}">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        {% else %}
                            {{ 'label.no_tags'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('article_show', {id: article.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isAdmin() %}
                            <a href="{{ url('article_edit', {id: article.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                            <a href="{{ url('article_delete', {id: article.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}