{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <a href="{{ url('article_index') }}" title="{{ 'action.back'|trans }}">
        {{ 'action.back'|trans }}
    </a>

    <h1>{{ article.title }}</h1>

    <div>{{ article.createdAt|date('Y/m/d') }}</div>
    <div>{{ article.updatedAt|date('Y/m/d') }}</div>

    <div>
        <dt>{{ 'label.content'|trans }}</dt>
        <dd>{{ article.content|markdown_to_html }}</dd>
    </div>

    <div>
        <div>
            <a href="{{ url('comment_create', {'commented_article_id' : article.id}) }}" title="{{ 'action.add_comment'|trans }}">
                {{ 'action.add_comment'|trans }}
            </a>
        </div>
        <div>
            <h2>{{ 'label.comments'|trans }}</h2>
            <ul>
                {% if article.comments is defined and article.comments|length %}
                    {% for comment in article.comments %}
                        <li>
                            {#@todo - add nickname#}
                            <h5>{{ comment.header }}</h5>
                            <p>
                                {{ comment.content }}
                            </p>
                            <a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <h3>
                        {{ 'label.no_comments'|trans }}
                    </h3>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}