{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <a href="{{ url('article_index') }}" title="{{ 'action.back'|trans }}">
        {{ 'action.back'|trans }}
    </a>

    <h1>{{ article.title }}</h1>

    <div>{{ 'label.created_at'|trans }}: {{ article.createdAt|date('d.m.Y') }}</div>
    <div>{{ 'label.updated_at'|trans }}: {{ article.updatedAt|date('d.m.Y') }}</div>

    <div class="mt-3">
        <dt>{{ 'label.content'|trans }}</dt>
        <dd>{{ article.content|markdown_to_html }}</dd>
    </div>

    <div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>
                <a href="{{ url('comment_create', {'commented_article_id' : article.id}) }}"
                   title="{{ 'action.add_comment'|trans }}">
                    {{ 'action.add_comment'|trans }}
                </a>
            </div>
        {% endif %}
        <div>
            <h2>{{ 'label.comments'|trans }}</h2>
            <ul>
                {% if comments is defined and comments|length %}
                    {% for comment in comments %}
                        <li>
                            <h5><em>{{ comment.author.nickname }}</em> - {{ comment.header }}</h5>
                            <p>
                                {{ comment.content }}
                            </p>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.isAdmin() %}
                                <a href="{{ url('comment_delete', {id: comment.id}) }}"
                                   title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <h3>
                        {{ 'label.no_comments'|trans }}
                    </h3>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}